### text file after first run! ###
APDescription.txt
MTPs-Main-Container.txt

### idea folder ###
.idea

### build dir ###
target

### Docker ###
*.pid
*.log

### Node ###
frontend/node_modules/
**/node_modules/
frontend/pnpm-lock.yaml
dist/
